<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
    </div>
    <div class="loginForm">
      <form action="/user/login" method="post">

        <div class="emailcontainer">
          <label for="fullEmail">Email: </label>
          <input type="eamil" required name="email" id="fullEmail">
        </div>
        
        <div class="passcontainer">
          <label for="fullPassword">Password</label>
          <input type="password" required name="password" id="fullPassword">
        </div>   
        
        <div class="buttoncontainer">
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="signupconotainer">
        <a href="http://localhost:8001/signup">register yourself.</a>
      </div>
    </div>
  </body>
</html>
