<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include("partials/navbar", { user: null }) %>

  <div class="container">
    <h1 class="text-center text-light fw-bold">Login</h1>

    <% if(error){ %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form class="loginForm bg-dark text-light" action="/user/login" method="post">
      <div class="emailcontainer">
        <label>Email</label>
        <input type="email" name="email" required>
      </div>

      <div class="passcontainer">
        <label>Password</label>
        <input type="password" name="password" required>
      </div>

      <div class="buttoncontainer">
        <button type="submit">Login</button>
      </div>

      <div class="signupconotainer mt-3">
        <a href="/user">Don't have an account? Signup</a>
      </div>
    </form>
  </div>

  <script src="/js/login.js"></script>
</body>

</html>
