<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
  <%- include("partials/navbar", { user: null }) %>

  <div class="container">
    <h1 class="text-center text-light fw-bold">Signup</h1>

    <% if(error){ %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form class="signForm bg-dark text-light" action="/user" method="post">

      <label>Email</label>
      <input type="text" name="email" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <button type="submit">Create Account</button>

      <div class="loginalready">
        <a href="/user/login">Already have an account? Login</a>
      </div>
    </form>
  </div>

  <script src="/js/signup.js"></script>
</body>

</html>
