<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    <div class="container">
      <h1>SignUp</h1>
    </div>
    <div class="signForm">
      <form action="/user" method="post">
        <div class="namecontainer">
          <label for="">Full Name</label>
          <input type="text" required name="name" id="fullName" />
        </div>
        <div class="emailcontainer">
          <label for="">Email</label>
          <input type="text" required name="email" id="fullEmail" />
        </div>
        <div class="passwordcontainer">
          <label for="">Password</label>
          <input type="password" required name="password" id="fullPassword" />
        </div>
        <div class="confirmpasscontainer">
          <label for="">Confirm Password</label>
          <input
            type="password"
            required
            name="confirmpass"
            id="fullcPassword"
          />
        </div>

        <button type="submit">SignUp</button>
      </form>
      <div class="loginalready">
        <a href="http://localhost:8001/login">Already login</a>
      </div>
    </div>
  </body>
</html>
