body {
  background: #0f0f0f;
  color: #f9f9f9;
  font-family: Arial;
}

.navbar {
  background: #1a1a1a;
  padding: 10px 20px;
}

.home-container {
  padding: 40px;
}

.url-form input {
  padding: 10px;
  width: 250px;
  background: #222;
  color: white;
  border: 1px solid #444;
}

.url-form button {
  padding: 10px 15px;
  background: #444;
  color: white;
  border: none;
}
