body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* nav bar  */
nav {
  background-color: aqua;
}
.navigation ul {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  gap: 5%;
  align-items: center;
}
.navigation ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor:pointer;
}

.navigation ul li:hover{
  list-style: circle;
}

.container {
  margin: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.historyClicks {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Logout a {
  text-decoration: none;
  color: black;
}


button {
  color: black;
  background-color: aqua;
  cursor: pointer;
}


.logoutbtn {
  display: flex;
  margin-left: 90%;
  margin-top: 2%;
  margin-bottom: none;
  align-items: center;
}