body {
  background: #ffffff;
  color: #222;
  font-family: Arial;
}

.navbar {
  background: #f0f0f0;
  padding: 10px 20px;
}

.home-container {
  padding: 40px;
}

.url-form input {
  padding: 10px;
  width: 250px;
}

.url-form button {
  padding: 10px 15px;
}
