body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* namecontainer */
.namecontainer{
  display: flex;
  margin: 4% 0%;
  justify-content: space-between;
}
.namecontainer label {
  font-size: 20px;
  font-weight: 500;
  margin: 1%;
}
#fullName {
  background-color: white;
  border: none;
  width: 100%;
  color: black;
}

/* emailcontainer */
.emailcontainer{
  display: flex;
  margin: 4% 0%;
  justify-content: space-between;
}
.emailcontainer label {
  font-size: 20px;
  font-weight: 500;
  margin: 1%;
}
#fullEmail {
  background-color: white;
  border: none;
  width: 100%;
  color: black;
}

/* passwordcontainer */
.passwordcontainer{
  display: flex;
  margin: 4% 0%;
  justify-content: space-between;
}
.passwordcontainer label {
  font-size: 20px;
  font-weight: 500;
  margin: 1%;
}
#fullPassword {
  background-color: white;
  border: none;
  width: 100%;
  color: black;
}

/* confirmpasscontainer */
.confirmpasscontainer{
  display: flex;
  margin: 4% 0%;
  justify-content: space-between;
}

/* button */
.signupbutton {
  display: flex;
  margin: 4% 0%;
  justify-content: center;
  align-items: center;
}
/* already login */

.loginalready {
  display: flex;
}

.loginalready a {
  text-decoration: none;
}
