<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-3">
  <a class="navbar-brand fw-bold" href="/">ShortURL</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto">

      <% if(!user){ %>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Signup</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>

        <li class="nav-item">
          <form action="/user/logout" method="post" class="d-inline">
            <button class="btn btn-outline-light btn-sm">Logout</button>
          </form>
        </li>
      <% } %>

    </ul>
  </div>
</nav>
